@model BeekodSiteProject.Models.Home
@{
    ViewBag.Title = "İcerikEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Anasayfa İçerik Ekle</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">

    @*<div class="card-header">
            <h3 class="card-title">Anasayfa İçerik Ekle</h3>
        </div>*@
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="card">
            <div class="card-body">
                <form asp-action="İcerikEkle" method="post">
                    <div class="form-horizonal">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(x => x.Title)
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(x => x.Url)
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(x => x.ImageUrl)
                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(x => x.Content)
                        @Html.TextAreaFor(x => x.Content, 15, 1, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
                
            </div>
        </div>
    </div>
</section>






